<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CKAlertController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>039A91F61BC8B75A0020B640</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>039A920F1BC8B75A0020B640</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>039A921A1BC8B75A0020B640</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
